@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Nunito", sans-serif;
}

/*

- LINK KEYS

.Link1 ==> Link for the title in the header
.Link2 ==> Links to pages in the header
.Link3 ==> General links on pages that should appear different e.g. blue and underlined


*/



@media only screen and (max-width: 800px) {


  .Link1 {
    font-size: 25px;
  }

  .ToggleNav {
    display: auto;
  }

  .FullNav {
    display: none;
  }


  header .Link2 {
    font-size: 18px;
    margin: 7px 0 0 0;
    

  }


  .ThemeToggler {
    margin-top: 16px;
    margin-right: 8vw;
  }

  img {
    width: 300px;
  }


}

@media only screen and (min-width: 801px) {

  .Link1 {
    font-size: 35px;
  }


  
  .ToggleNav {

    /*

    ===
    ===

    CODE BELOW KEEPS TOGGLE NAV DISPLAYED EVEN IN WIDER MODE

    ===
    ===

    */

    display: auto;

    padding-top: 9px;

  }

  .FullNav {
    display: auto;

  }

  
  header .Link2 {
    margin: 0 2vw 26px 0;
    font-size: 18px;
    font-weight: 400;
  }


  .ThemeToggler {
    margin-top: 25px;
    margin-right: 4vw;
  }



  img {
    width: 400px;
  }


}




.minimal1.light {

  header {

    background-color: rgb(198, 198, 218);

  }

  
  main {
    
    background-color: rgb(226, 226, 230);
    
  }
  
  footer {
    background-color: rgb(217, 217, 224);
  }


  h1, h2, h3, p, li, a {

    color: rgb(0, 0, 0);

  }


  header .Link1, header .Link2, header .Other {
    color: black;
  }


  .Button2 {
    color: white;
  }


}

.minimal1.dark {

  header {

    background-color: rgb(48, 48, 78);

  }

  footer {
    
    background-color: rgb(102, 102, 124);

  }

  main {

    background-color: rgb(113, 113, 136);

  }

  h1, h2, h3, p, li, a {

    color: white;

  }

  

  header .Link1, header .Link2, header .Other {
    color: white;
  }

  .Button1 {

    color: white;
    border: 1px solid white;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    
  }

 .Button2 {
  color: white;
 }


}

.gradient1.light {

  header {

    background-color: rgb(198, 198, 218);

  }

  
  main {
    
    background-color: rgb(226, 226, 230);
    
  }
  
  footer {
    background-color: rgb(217, 217, 224);
  }


  h1, h2, h3, p, li, a {

    color: rgb(0, 0, 0);

  }


  header .Link1, header .Link2, header .Other {
    color: black;
  }


  .Button2 {
    color: white;
  }


}

.gradient1.dark {

  header {

    background-color: rgb(45, 45, 45);

  }

  footer {
    
    background-color: rgb(44, 44, 44);

  }

  main {

    background-color: rgb(37, 37, 37);

  }

  h1, h2, h3, p, li, a {

    color: white;

  }

  

  header .Link1, header .Link2, header .Other {
    color: white;
  }

  .Button1 {

    color: white;
    border: 1px solid white;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    
  }

 .Button2 {

  color: white;
  background: linear-gradient(45deg, rgb(41, 156, 41), rgb(38, 38, 193));

  /*
  old tailwind for Button2

  text-white dark:text-black bg-slate-500 dark:bg-[#7d87bc] hover:bg-slate-400 dark:hover:bg-[#6f79a9] hover:cursor-pointer
  */
 }
 .Button2:hover {

  background: linear-gradient(45deg, rgb(30, 112, 30), rgb(30, 30, 145));


 }


}


h1 {
  text-align: center;
  /*text-wrap: none; */
}


h2 {
  text-align: center;
  font-size: x-large;

}



h3 {
  text-align: center;
  font-size: medium;
}




img {
  border-radius: 8px;
  margin: 0 auto 8px auto;
}




main ul li {
  font-weight: 400;
}

.Unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}